{% load payments %}
{% get_payment_settings as settings %}
{% comment 'LICENSE' %}

Copyright 2022 GoDjango LLC

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

This software was developed by GoDjango Limited Liability Company, the remote scripts used here and underlying tech belongs to 
PayPal, what is a GoDjango creationg is the easy integration with Django.

2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT 
SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL 
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

{% endcomment %}
{% get_container_uid uid as uid %}
{% add 'paypal_namespace_' uid as namespace %}
{% if not ignore_import %}
  {% include './braintree.html' with namespace="namespace" %}
{% endif %}

<div id="paypal-container-{{uid}}" ></div>
<!--
  In your code, dynamically update data-pp-amount with
  the price or cart amount. For example,
  data-pp-amount="89.99" for $89.99 product
-->
<div id="paypal-message-{{uid}}"
  data-pp-message
  data-pp-layout="text"
  data-pp-text-color="black"
  data-pp-logo-type="inline"
  data-pp-amount="{{ total|normalize_amount }}">
</div>

{% if data is not None %}
  {% add 'paypal-container-' uid as container_id %}
  {% add 'paypal-message-' uid as message_id %}
  {% create_dict as instance_data %}
  {% set_val instance_data container_id=container_id message_id=message_id uid=uid %}
  {% set_val data uid instance_data %}
{% endif %}

{% if not not_render %}
  {% include './paypal_render.html' with uid=uid currency=currency %}
{% endif %}
