{% load payments vanilla_paypal i18n %}
{% get_payment_settings as settings %}
{% comment 'LICENSE' %}

Copyright 2022 GoDjango LLC

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

This software was developed by GoDjango Limited Liability Company, the remote scripts used here and underlying tech belongs to 
PayPal, what is a GoDjango creationg is the easy integration with Django.

2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT 
SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL 
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

{% endcomment %}
{% get_container_uid uid as uid %}

<div id="paypal-container-{{uid}}" ></div>
<!--
  In your code, dynamically update data-pp-amount with
  the price or cart amount. For example,
  data-pp-amount="89.99" for $89.99 product
-->
<div id="paypal-message-{{uid}}"
  data-pp-message
  data-pp-layout="text"
  data-pp-text-color="black"
  data-pp-logo-type="inline"
  data-pp-amount="{{ total|normalize_amount }}">
</div>
{% get_nonce 'paypal_environment' 'script connect style frame' as paypal_nonce %}
<script async defer nonce="{{paypal_nonce}}" data-csp-nonce="{{paypal_nonce}}"
  data-client-token="{% get_client_token %}"
  src="https://www.paypal.com/sdk/js?client-id={{client_id}}&components=buttons&intent=authorize"></script>

<script async defer nonce="{{paypal_nonce}}">
  window.addEventListener("load", ()=>{
    window.paypal?.Buttons({
      createOrder: function(data, actions) {
        // Set up the transaction
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: parseFloat(document.getElementById("paypal-message-{{uid}}").getAttribute("data-pp-amount").replace(",", ".")).toFixed(2)
            }
          }],
          intent: "authorize"
        });
      },
      onApprove: function(data, options){
        return options.order.authorize().then(function(authorization){
          var authorization_id = authorization.purchase_units[0].payments.authorizations[0].id;
          alert("{% trans 'You have authorized this transaction OrderId:' %} " + data.orderID + ", {% trans 'Authorization ID' %}: " + authorization_id + ". {% trans 'Save those data in case some problems occure with the transaction.' %}");
          return fetch("{% on_approve_url context_id=context_id payment_type='vanilla_default' %}", {
            method: "post",
            headers: {
              "Content-Type":"application/json",
              "X-CSRFToken": "{{csrf_token}}"
            },
            body: JSON.stringify({
              order_id: data.orderID, // {# We beleive that maybe a good hackie can try to fake this to another order id so right now this is useless we use the order id resulting from the authorization/capture process, DO NOT TURN THIS EVER INTO AN HTML COMMENT cause that can cause a good hackie to be able to stop trying to attack that hole :) and we prefer to catch him instead of stoping him #}
              authorization_id: authorization_id
            })
          }).then((response)=>{
            if(response.ok){
              if(response.redirected) window.location.href = response.url;
            }
          }).catch((error)=>{
            alert("{% trans 'Something wrong happened and we weren\'t able to process the payment, please report this to admins' %}");
          })
        })
      }
    }).render('#paypal-container-{{uid}}');
  })
</script>
